/*Global prop declarations*/


@font-face {
    font-family: 'MyFont';
    src: url('./fonts/Comfortaa-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'MySecondFont';
    src: url('./fonts/YatraOne-Regular.ttf');
}
@font-face {
    font-family: 'MyLogoFont';
    src: url('./fonts/RockSalt-Regular.ttf');
}

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

header {
    width: 100%;
    padding: 20px;
    justify-content: space-around !important;
}

header .logo img {
    width: 200px;
    height: 200px;
}

header h1 {
    padding-top: 10px;
    padding-left: 5px;
    cursor: pointer;
    color: red;
    font-family: 'MyLogoFont';
}

span {
    color: gray;
    font-family: 'MyLogoFont';
}

.logo.flex {
    margin-top: 10px;
}

button {
    padding: 5px 20px;
    margin: 10px;
    transition: all 0.5s;
    font-size: 20px;
    color: white;
    font-weight: 600;
    transition: color ease-out 0.6s;
    border: none;
    background-color: gray;
    cursor: pointer;
}

button:hover {
    color: red;
    background-color: white;
}

.content {
    width: 100%;
    height: 66vh;
}

.content .one {
    width: 60%;
    padding: 0 100px;
    position: relative;
}

.content .one h1 {
    font-size: 60px;
    font-family: 'MyFont';
}

.content .one img {
    position: absolute;
    top: 300px;
    left: 750px;
    width: 100px;
    height: 100px;
    margin-top: 8px;
    margin-left: 10px;
    background-color: aliceblue;
}

.content .one p {
    margin-top: 40px;
    font-size: 26px;
    padding: 10px 0;
    color: blue;
    font-family: 'MySecondFont';
}

.content .two {
    width: 40%;
    position: relative;
}

.content .two img {
    position: absolute;
    width: 470px;
    height: auto;
    bottom: -80px;
    left: 20px;
    border: none;
    border-radius: 50%;
}

.about-content {
    position: relative;
    margin: 30px;
    padding-left: 60px;
    padding-right: 60px;
}

.about-content h1 {
    padding: 20px;
    font-size: 60px;
    font-family: 'MyFont';
}

.about-content > div {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    gap: 40px;
}

.about-content p {
    padding: 20px;
    font-size: 24px;
    margin-top: 30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: gray;
}

.about-content img {
    border: none;
    border-radius: 50%;
    width: 300px;
    height: auto;
}

#carouselExampleDark {
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.carousel-caption {
    background-color: black;
    opacity: 0.7;
}

.carousel-caption > h5 {
    color: white;
    font-size: 50px;
    font-weight: 800;
}

.carousel-caption > p {
    color: white;
    font-size: 20px;
}

.contact-container {
    margin-top: 2rem;
    background: rgba(255, 68, 68, 0.131);
    width: 80%;
    border-radius: 1.2rem;
    padding: calc(2rem + 2vw);
    margin-top: 2rem !important;
    margin: 5rem auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.contact-container > h1 {
    padding: 20px;
    font-size: 60px;
    font-family: 'MyFont';
}

.contact-content p {
    padding: 10px;
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: gray;
}

.contact-form {
    margin-top: 20px;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.address,
.hours,
.phone {
    display: flex;
    align-items: center;
    gap: 10px;
}

.address > p,
.hours >p,
.phone > p {
    margin-top: 20px;
}

.caption-div {
    display: flex;
    align-items: center;
    gap: 20px;
}

.caption-div > h3 {
    font-size: 40px;
    font-family: 'MyFont';
    margin-top: 12px;
}

form {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.input-box {
    margin-top: 1rem;
    margin-left: 3rem;
}

.input-box input,
.input-box textarea {
    padding: 0.5rem 0;
    margin: 1rem 0;
    font-size: 1.6rem;
    border: none;
    outline: none;
    border-bottom: 2px solid;
    resize: none;
    background: rgba(243, 55, 55, 0);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: gray;
    opacity: 0.6;
}
  
.input-box input {
    width: 200%;
}

.input-box textarea {
    width: 300%;
}

input[type=submit] {
  background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex-shrink: 0;
  font-family: "Inter UI","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  font-size: 16px;
  font-weight: 500;
  height: 4rem;
  padding: 0 1.6rem;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all .5s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  position: absolute;
  left: 50px;
  top: 500px;
}

input[type=submit]:hover {
    box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
    transition-duration: .1s;
  }

.map-container {
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 150px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.footer {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-color: #393f4d;
    color: white;
}

.footer a {
    text-decoration: none; /*list item without underlined links*/
    color: white;
}
  
.footer a:hover { /*when mouse moved around links at footer*/
    color:fuchsia;
}